body{
    background-color: #EDF6F9; 
}

h2{
    border: 20px;
    margin: 20px;
    text-align: center;
    color: #006D77;
}

form{
    background-color: #83C5BE;
    margin: 20px 450px;
    color: #EDF6F9;
    font-size: 18px;
}

#fecha{
    text-align: center;
    margin: 5px;
    border: 5px;
    padding: 10px;
}

#class{
    text-align: center;
}

#dia{
    margin: 10px;
}

#mes{
    margin: 10px;
}

#anio{
    margin: 10px;
}

#fechaDia{
    margin: 10px;
}

button{
    margin: 10px;
    position: relative;
    padding: 10px 15px;
    border: none;
    outline: none;
    background: #4a7470;
    color: #EDF6F9;
    cursor: pointer;
    transition: .5s;
    overflow: hidden;
}

button:hover{
    color: #ffffff;
}

button span{
    position: absolute;
    background: #ffffff;
    transition: .5s;
}

button span:nth-child(1){
    width: 100%;
    height: 1px;
    top: 0;
    left: -100%;
}

button span:nth-child(2){
    width: 100%;
    height: 1px;
    bottom: 0;
    right: -100%;
}

button span:nth-child(3){
    width: 1px;
    height: 100%;
    bottom: -100%;
    left: 0;
}

button span:nth-child(4){
    width: 1px;
    height: 100%;
    top: -100%;
    right: 0;
}

button:hover span:nth-child(1){
    left: 0;
}

button:hover span:nth-child(2){
    right: 0;
}

button:hover span:nth-child(3){
    bottom: 0;
}

button:hover span:nth-child(4){
    top: 0;
}